/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@200;400;700&display=swap');

/* Variables */

:root {
    --cian: #00ACC1;
    --white: #ffffff;
    --black: #444444;
}

/* Reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

/* Custom CSS */

html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: var(--black);
    text-align: center;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 28px;
    font-weight: 700;
}

.btn {
    display: inline-block;
    margin: 0 5px;
    padding: 14px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    transition: background .3s ease-in-out
}

.primary-btn {
    color: var(--white);
    background-color: var(--cian);
}

.main-wrapper {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

.content-wrapper {
    width: 98%;
    max-width: 1140px;
    margin: 0 auto;
    float: none !important;
}

.main-wrapper header {
    min-height: 100%;
}

.main-wrapper header .background-img {
    background-image: url('./img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    min-height: 100%;
}

.main-wrapper header .background-img .cover {
    background-color: #0000006b;
    min-height: 100%;
}

.cooming-soon {
    min-height: 100vh;
    /* padding: 1rem 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.cooming-soon .logo {
    letter-spacing: 0.15em;
}

.cooming-soon .logo h1 {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.cooming-soon .logo p {
    font-size: 28px;
    font-weight: 200;
}

.separator {
    width: 50px;
    height: 5px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: var(--cian);
}

.cooming-soon .contact-info {
    display: flex;
    gap: 2rem;
}

.cooming-soon .contact-info a.item {
    color: var(--cian);
    font-size: 30px;
}

.cooming-soon .address {
    color: var(--cian);
}


.gallery {
    padding: 5rem 0;
}

.gallery .imgs-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.gallery img {
    width: 100%;
    border-radius: 5px;
}